
    <nz-layout>
      <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="logo"></div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
          <li nz-submenu nzTitle="Menu" nzIcon="user">
            <ul>
              <li nz-menu-item nzMatchRouter routerLink="student">Gestão de Estudantes</li>
              <li nz-menu-item nzMatchRouter routerLink="class">Gestão de Turmas</li>
              <li nz-menu-item nzMatchRouter routerLink="gradeCourse">Gestão de Cadeiras por Semestre</li>
              <li nz-menu-item nzMatchRouter routerLink="teacher">Gestão de Professores</li>
              <li nz-menu-item nzMatchRouter routerLink="subject">Gestão de Cadeiras</li>
			  <input (change)='submitFile($event)' type="file" nz-input placeholder="Nome da pesquisa" [(ngModel)]="_file" />
            </ul>
          </li>
        </ul>
      </nz-sider>
      <nz-layout class="content-wrapper">
        <nz-header>
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            (click)="isCollapsed = !isCollapsed"
          ></i>
        </nz-header>
        <nz-content>
          <div class="inner-content">
            <router-outlet></router-outlet>
          </div>
        </nz-content>
        <nz-footer>Ant Design ©2019 Implement By Angular</nz-footer>
      </nz-layout>
    </nz-layout>
