<nz-page-header [nzTitle]="title">
  <nz-breadcrumb nz-page-header-breadcrumb [nzAutoGenerate]="true">
  </nz-breadcrumb>
</nz-page-header>
<nz-table #ajaxTable
          nzShowSizeChanger
          [nzFrontPagination]="false"
          [nzData]="gradeCourses"
          [nzLoading]="loading"
          class="my-table">
  <thead>
  <tr>
    <th nzWidth="5%">#</th>
    <th nzWidth="20%">Semestre</th>
    <th>Cadeiras</th>
    <th nzWidth="20%">Opções</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of ajaxTable.data;let i = index">
    <td>{{i+1}}</td>
    <td>
      <div [ngSwitch]="data.grade">
        <div    *ngSwitchCase="1">Primeiro Semestre</div>
        <div    *ngSwitchCase="2">Segundo Semestre</div>
      </div>
    </td>
    <td>
      <ng-container *ngIf="!editCache[data.grade].edit; else subjectSelectTpl">
        {{data.subjectNames}}
      </ng-container>
      <ng-template #subjectSelectTpl>
        <nz-select
          style="width: 100%"
          nzMode="multiple"
          nzPlaceHolder="Por Favor Escolha"
          [compareWith]="compareFn"
          [nzDropdownStyle]="{height: 50}"
          (nzScrollToBottom)="loadMore()"
          [(ngModel)]="editCache[data.grade].data.subjects"
        >
          <nz-option *ngFor="let subject of subjects" [nzLabel]="subject.name" [nzValue]="subject"></nz-option>
          <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
            <i nz-icon nzType="loading" class="loading-icon"></i> Carregando...
          </nz-option>
        </nz-select>
      </ng-template>
    </td>
    <td>
      <div class="editable-row-operations">
        <ng-container *ngIf="!editCache[data.grade].edit; else saveTpl">
          <a (click)="startEdit(data.grade)">Editar</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a nz-popconfirm nzTitle="Tem certeza que deseja redefinir?" (nzOnConfirm)="delete(data.grade)">Redefinir</a>
        </ng-container>
        <ng-template #saveTpl>
          <a nz-popconfirm nzTitle="Tem certeza que pretende guardar?" (nzOnConfirm)="saveEdit(data.grade)">Guardar</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="cancelEdit(data.grade)">Cancelar</a>
        </ng-template>
      </div>
    </td>
  </tr>
  </tbody>
</nz-table>
