<nz-page-header [nzTitle]="title">
  <nz-breadcrumb nz-page-header-breadcrumb [nzAutoGenerate]="true">
  </nz-breadcrumb>
</nz-page-header>
<button nz-button nzType="primary" class="add-button" routerLink="addNota">Adicionar Notas</button>
<nz-table #ajaxTable
          nzShowSizeChanger
          [nzFrontPagination]="false"
          [nzData]="gradeCourses"
          [nzLoading]="loading"
          [nzTotal]="total"
          [(nzPageIndex)]="pageIndex"
          [(nzPageSize)]="pageSize"
          (nzPageIndexChange)="searchData()"
          (nzPageSizeChange)="searchData(true)" class="my-table">
  <thead>
  <tr>
    <th nzWidth="5%">#</th>
	<th nzWidth="20%">Nome Aluno</th>
    <th nzWidth="20%">Semestre + Turma</th>
	<th nzWidth="40%">Cadeiras, Notas</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of ajaxTable.data;let i = index">
    <td>{{i+1}}</td>
    <td>
      <!--<ng-template #nameInputTpl>
        <input nz-input [(ngModel)]="editCache[data.id].data.name" />
      </ng-template>-->
	  {{data.countent.name}}
    </td>
    <td>
	{{data.countent.subjectNames}}
	<!--<ng-container *ngIf="!editCache[data.id].edit; else classSelectTpl">
        <div [ngSwitch]="data.classes.grade">
          <div    *ngSwitchCase="1">Primeiro Semestre - {{data.classes.className}}</div>
          <div    *ngSwitchCase="2">Segundo Semestre - {{data.classes.className}}</div>
        </div>
      </ng-container>
      <ng-template #classSelectTpl>
        <nz-select
          style="width: 100%"
          nzPlaceHolder="Por favor, escolha uma opção"
          [compareWith]="compareFn"
          [nzDropdownStyle]="{height: 50}"
          (nzScrollToBottom)="loadMore()"
          [(ngModel)]="editCache[data.id].data.classes"
        >
          <nz-option [nzLabel]="formatClass(data.classes)"  [nzValue]="data.classes"></nz-option>
          <nz-option *ngFor="let class of classes" [nzLabel]="formatClass(class)" [nzValue]="class"></nz-option>
          <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
            <i nz-icon nzType="loading" class="loading-icon"></i> Carregando...
          </nz-option>
        </nz-select>
      </ng-template>-->
	</td>
	<td>
	<ng-container *ngIf="!editCache[data.id].edit; else subjectSelectTpl">
        {{data.countent.cadeiras}}
      </ng-container>
      <<ng-template>
        <input nz-input [(ngModel)]="editCache[data.id].data.notas" />
      </ng-template>
	  {{data.counted.notas}}
	</td>
  </tr>
  </tbody>
</nz-table>
