<nz-page-header [nzTitle]="title">
  <nz-breadcrumb nz-page-header-breadcrumb [nzAutoGenerate]="true">
  </nz-breadcrumb>
</nz-page-header>
<button nz-button nzType="primary" class="add-button" routerLink="addStudent">Adicionar Estudante</button>
<nz-table #ajaxTable
          nzShowSizeChanger
          [nzFrontPagination]="false"
          [nzData]="students"
          [nzLoading]="loading"
          [nzTotal]="total"
          [(nzPageIndex)]="pageIndex"
          [(nzPageSize)]="pageSize"
          (nzPageIndexChange)="searchData()"
          (nzPageSizeChange)="searchData(true)" class="my-table">
  <thead>
  <tr>
    <th nzWidth="5%">#</th>
    <th nzWidth="10%">Número de Estudante</th>
    <th nzCustomFilter nzWidth="30%">Nome<i
      class="ant-table-filter-icon"
      nz-icon
      nz-dropdown
      #dropdown="nzDropdown"
      nzType="search"
      [nzDropdownMenu]="menu"
      [class.ant-table-filter-open]="dropdown.nzVisible"
      nzTrigger="click"
      nzPlacement="bottomRight"
      [nzClickHide]="false"
      nzTableFilter
    ></i></th>
    <th nzWidth="12%">Gênero</th>
    <th nzWidth="10%">Idade</th>
    <th>Semestre + Turma</th>
    <th nzWidth="20%">Opções</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of ajaxTable.data;let i = index">
    <td>{{i+1}}</td>
    <td>
      <ng-container *ngIf="!editCache[data.id].edit; else snoInputTpl">
        {{ data.sno }}
      </ng-container>
      <ng-template #snoInputTpl>
        <input type="text" nz-input [(ngModel)]="editCache[data.id].data.sno" />
      </ng-template>
    </td>
    <td>
      <ng-container *ngIf="!editCache[data.id].edit; else nameInputTpl">
        {{ data.name }}
      </ng-container>
      <ng-template #nameInputTpl>
        <input type="text" nz-input [(ngModel)]="editCache[data.id].data.name" />
      </ng-template>
    </td>
    <td>
      <ng-container *ngIf="!editCache[data.id].edit; else genderRadioTpl">
        <div *ngIf="data.gender === 1">
          Masculino
        </div>
        <div *ngIf="data.gender === 0">
          Feminino
        </div>
      </ng-container>
      <ng-template #genderRadioTpl>
        <nz-radio-group [(ngModel)]="editCache[data.id].data.gender">
          <label nz-radio [nzValue]="1">Masculino</label>
          <label nz-radio [nzValue]="0">Feminino</label>
        </nz-radio-group>
      </ng-template>
    </td>
    <td>
      <ng-container *ngIf="!editCache[data.id].edit; else ageInputTpl">
        {{data.age}}
      </ng-container>
      <ng-template #ageInputTpl>
        <nz-input-number [(ngModel)]="editCache[data.id].data.age" [nzMin]="6" [nzMax]="70" [nzStep]="1"></nz-input-number>
      </ng-template>
    </td>
    <td>
      <ng-container *ngIf="!editCache[data.id].edit; else classSelectTpl">
        <div [ngSwitch]="data.classes.grade">
          <div    *ngSwitchCase="1">Primeiro Semestre - {{data.classes.className}}</div>
          <div    *ngSwitchCase="2">Segundo Semestre - {{data.classes.className}}</div>
        </div>
      </ng-container>
      <ng-template #classSelectTpl>
        <nz-select
          style="width: 100%"
          nzPlaceHolder="Por favor, escolha uma opção"
          [compareWith]="compareFn"
          [nzDropdownStyle]="{height: 50}"
          (nzScrollToBottom)="loadMore()"
          [(ngModel)]="editCache[data.id].data.classes"
        >
          <nz-option [nzLabel]="formatClass(data.classes)"  [nzValue]="data.classes"></nz-option>
          <nz-option *ngFor="let class of classes" [nzLabel]="formatClass(class)" [nzValue]="class"></nz-option>
          <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
            <i nz-icon nzType="loading" class="loading-icon"></i> Carregando...
          </nz-option>
        </nz-select>
      </ng-template>
    </td>
    <td>
      <div class="editable-row-operations">
        <ng-container *ngIf="!editCache[data.id].edit; else saveTpl">
          <a (click)="startEdit(data.id)">Editar</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a nz-popconfirm nzTitle="Tem certeza que deseja eliminar?" (nzOnConfirm)="delete(data.id)">Eliminar</a>
        </ng-container>
        <ng-template #saveTpl>
          <a nz-popconfirm nzTitle="Tem a certeza que deseja guardar?" (nzOnConfirm)="saveEdit(data.id)">Guardar</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="cancelEdit(data.id)">Cancelar</a>
        </ng-template>
      </div>
    </td>
  </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="search-box">
    <input type="text" nz-input placeholder="Nome da pesquisa" [(ngModel)]="searchValue" />
    <button nz-button nzSize="small" nzType="primary" (click)="searchData()" class="search-button">
      Pesquisar
    </button>
    <button nz-button nzSize="small" (click)="reset()">Redefinir</button>
  </div>
</nz-dropdown-menu>
