<nz-page-header nzBackIcon [nzTitle]="title">
  <nz-breadcrumb nz-page-header-breadcrumb [nzAutoGenerate]="true">
  </nz-breadcrumb>
</nz-page-header>
<form nz-form [formGroup]="teacherForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="3" nzRequired nzFor="name">Nome</nz-form-label>
    <nz-form-control [nzSpan]="8" nzErrorTip="Por favor, insira  o nome do professor">
      <input type="text" nz-input formControlName="name" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="3" nzRequired nzFor="gender">Gênero</nz-form-label>
    <nz-form-control [nzSpan]="8" nzErrorTip="Por favor selecione um gênero">
      <nz-radio-group formControlName="gender">
        <label nz-radio [nzValue]="1">Masculino</label>
        <label nz-radio [nzValue]="0">Feminino</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="3" nzRequired nzFor="age">Idade</nz-form-label>
    <nz-form-control [nzSpan]="8" nzErrorTip="Por favor, insira uma idade">
      <nz-input-number formControlName="age" [nzMin]="20" [nzMax]="70" [nzStep]="1"></nz-input-number>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="3" nzRequired nzFor="subjectIds">Turma</nz-form-label>
    <nz-form-control [nzSpan]="8" nzErrorTip="Por favor, selecione uma turma">
      <nz-select
        style="width: 100%"
        nzMode="multiple"
        nzPlaceHolder="Por Favor Escolha"
        [nzDropdownStyle]="{height: 50}"
        (nzScrollToBottom)="loadMore()"
        formControlName="subjectIds"
      >
        <nz-option *ngFor="let subject of subjects" [nzLabel]="subject.name" [nzValue]="subject.id"></nz-option>
        <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
          <i nz-icon nzType="loading" class="loading-icon"></i> Carregando...
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="3" nzFor="file">Imagem</nz-form-label>
    <nz-form-control [nzSpan]="8">
      <nz-upload
        nzListType="picture-card"
        [nzShowUploadList]="false"
        [nzBeforeUpload]="beforeUpload"
      >
        <ng-container *ngIf="!avatarUrl">
          <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
          <div class="ant-upload-text">Upload</div>
        </ng-container>
        <img *ngIf="avatarUrl" [src]="domSanitizer.bypassSecurityTrustUrl(avatarUrl)" style="width: 100%" />
      </nz-upload>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSpan]="8" [nzOffset]="4">
      <button nz-button nzType="primary">Guardar</button>
    </nz-form-control>
  </nz-form-item>
</form>
